.footer {
    background-color: rgba(172, 169, 169, 0.719);
    font-family: 'Oswald', sans-serif;
    padding: 6px;
}

.footer a {
    text-decoration: underline;
}

.footer h4 {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-weight: 550;
    margin-bottom: 0px;

}

.footer p {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    margin-top: 5px;
}