body, html {
    margin: 0;
    animation: preload 2s;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 0;
}

@keyframes preload {

    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}