.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    background-color: rgba(172, 169, 169, 0.719);
    font-family: 'Oswald', sans-serif;
    position: sticky;
    top: 0%;
}

.header h4 {
    margin: 0;
    font-size: 20px;
}
